.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.headerLogo {
  width: 100px;
  margin: 18px 20px 0 20px;
  object-fit: contain;
}

.headerSearch {
  display: flex;
  flex: 1;
}

.headerSearchInput {
  height: 25px;
  padding: 10px;
  border: none;
  width: 100%;
}

.headerSearchInput:focus {
    outline: none !important;
}

.headerSearchIcon {
  background-color: #cd9042;
  padding: 5px;
  height: 25px !important;
}

.headerNav {
  display: flex;
  justify-content: space-evenly;
}

.headerOption {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
}

.headerLink {
  color: white;
  text-decoration: none;
}

.headerOptionLineOne {
  font-size: 10px;
}

.headerOptionLineTwo {
  font-size: 13px;
  font-weight: 600;
}

.headerOptionBasket {
  display: flex;
  align-items: center;
}

.headerBasketCount {
  margin: 0 10px 0 10px;
}
